@import '_variables.scss';

.saiConsole-body {
	// font-family: "M PLUS 1p", 'メイリオ', 'Meiryo', sans-serif;
	font-family: 'メイリオ', 'Meiryo', 'M PLUS 1p', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

.btn {
	// background-color: $base;
}
.btn.disabled,
.btn:disabled {
	opacity: 0.4;
}

.btn-secondary {
	// @extend .btn-outline-secondary;
	background-color: $ButtonText--Secondary;
	color: $Secondary;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
	/* color: #fff; */
	/* background-color: #6c757d; */
	/* border-color: #6c757d; */
	background-color: $ButtonText--Secondary;
	color: $Secondary;
}

// .btn-primary{
// 	background-color: $Primary;
// 	color:$ButtonText--Primary;
// 	border-width:0px;
// }
.h2 {
	color: $Black;
	font-weight: bold;
	font-size: 20px;
	line-height: 35px;
}

.h3 {
	color: $Black;
	font-weight: bold;
	font-size: 16px;
	line-height: 35px;
}

.h4 {
	color: $Black;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
}

.section {
	margin: 20px 0px;
}

.text {
	font-size: 14px;
}

.text--normal {
	font-size: 14px;
}

.text-discription {
	font-size: 13px;
	color: $Dark;

	&.__Primary {
		color: $Text--Primary;
	}

	&.__Secondary {
		color: $Text--Secondary;
	}

	&.__Denger {
		color: $Text--Denger;
	}

	&.__Warning {
		color: $Text--Warning;
	}

	&.__Success {
		color: $Text--Success;
	}

	&.__Info {
		color: $Text--Info;
	}

	&.__Light {
		color: $Text--Light;
	}

	&.__Dark {
		color: $Text--Dark;
	}
}

.tab-body {
	padding: 12px 20px;
}

.file-input-widget {
	& > .custom-file {
		height: 100%;

		& > .custom-file-label {
			@extend .h4;
		}
	}
}

.custom-file {
	height: $fileUploadHeight !important;

	&:hover {
	}
}

.custom-file-input {
	height: $fileUploadHeight !important;
	text-align: center;

	&.is-invalid {
		& + .custom-file-label {
			border: 4px $fileUploadBorderColor--invalid dashed !important;
		}
	}

	&:hover {
		background-color: $fileUploadBorderColor--hover;

		& + .custom-file-label {
			border: 4px $fileUploadBorderColor--hover dashed !important;
		}
	}
}

.fileupload__formFile {
	width: 80%;
	margin: auto;
}

.custom-file-label {
	text-align: center;
	height: $fileUploadHeight !important;
	border: 4px $fileUploadBorderColor dashed !important;

	&:hover {
		border: 4px $fileUploadBorderColor--hover dashed !important;
	}

	&::after {
		left: 0 !important;
		margin: auto !important;
		width: 240px;
		border-radius: 6px !important;
		border-style: none !important;
		text-align: center;
		display: inline-block;
	}
}

.fileUpload__caption {
	display: block;
}

//header

.hamburger-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3px;
	margin: auto;

	.svg-icon {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0px;
		right: 0px;
		margin: auto;
	}
}

.header {
	&__logo {
		width: 160px;
		height: 32px !important;
		// background-color: red;
		position: absolute;
		top: 10px;
		left: 40px !important;
	}
}

/**
Sideber
*/
$Sideber-Background: darken($Dark, 20%);
$Sideber-text: $White;
$Sideber-text--active: $White;
$Sideber-text--hover: $White;
$Sideber-text--opened: $White;
$Sideber-Background--active: $Success; //darken($Dark, 25%);
$Sideber-Background--hover: darken($Dark, 12%);
$Sideber-Background--opened: darken($Dark, 15%);

.sideber {
	.svg-icon {
		margin-right: 12px !important;
	}

	background-color: $Sideber-Background !important;

	.el-submenu {
		color: $Sideber-text !important;

		&__icon-arrow {
			font-size: 18px;
		}

		&__title {
			color: $Sideber-text !important;
			background-color: $Sideber-Background !important;
		}

		.el-submenu__icon-arrow {
			transform: rotateZ(90deg) !important;
		}

		&.is-opened {
			color: $Sideber-text--opened !important;
			background-color: $Sideber-Background--opened !important;

			.el-menu-item {
				color: $Sideber-text--opened !important;
				background-color: $Sideber-Background--opened !important;

				&.is-active {
					color: $Sideber-text--active !important;
					background-color: $Sideber-Background--active !important;
				}
			}

			& > .el-submenu__title .el-submenu__icon-arrow {
				transform: rotateZ(0deg) !important;
			}
		}

		&.is-active {
			color: $Sideber-text--active !important;

			& > .el-submenu__title {
				color: $Sideber-text !important;
			}

			// .el-menu-item {
			// 	color: $Sideber-text--active !important;
			// 	background-color: $Sideber-Background--active !important;
			// }
		}

		.el-menu-item {
			height: 44px;
			line-height: 44px;

			&:hover {
				background-color: $Sideber-Background--hover !important;
				color: $Sideber-text--hover !important;
			}
		}
	}

	.el-menu-item {
		background-color: $Sideber-Background !important;

		color: $Sideber-text !important;
		height: 50px;
		line-height: 50px;

		&.is-active {
			color: $Sideber-text--active !important;
			background-color: $Sideber-Background--active !important;
		}

		&:hover {
			background-color: $Sideber-Background--hover !important;
			color: $Sideber-text--hover !important;
		}
	}
}

.svg-icon {
	&.svg-fill {
		fill: transparent;
		stroke: currentColor;
		// display: block;
		// margin: auto;
		// vertical-align: initial !important;

		&.active {
			fill: currentColor;
			stroke: currentColor;
		}
	}
}

.el-tabs {
	&__header {
	}

	&__nav-scroll {
	}

	&__nav {
		margin-top: 5px;
		height: 30px;
	}

	&__item {
		height: 30px;
		font-size: 13px;
		line-height: 32px;
		margin-top: 0px !important;

		&.is-active {
			// border-top-color: $Light;
			// border-right-color: $Light;
			// border-left-color: $Light;
			border: none !important;
			color: $Black !important;
			border-radius: 4px 4px 0px 0px;
		}
	}
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
	// -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	// transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	border: none;
	// margin-top: -1px;
	// color: #909399;
}

.el-slider__button-wrapper {
	z-index: 999;
}

.disabled {
	.el-slider__button-wrapper {
		display: none;
	}
}

/* tynymce */

.mce-container,
.mce-container-body {
	overflow: hidden;
}
.header__logo {
	width: 180px;
	height: 40px;
	// background-color: red;
	position: absolute;
	top: 10px !important;
	left: 60px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-image: url(~assets/logo_search.png) !important;
}
