<div class="tab-body">
	<b-container class="bv-example-row bv-example-row-flex-cols conteiner">
		<b-row class="ml-0 mb-2">
			<b-col lg="8" class="pb-2 ml-0"> 現在のFAQをダウンロードします。 </b-col>
			<b-col lg="4" class="pb-2">
				<b-button v-on:click="download()">
					<b-spinner small v-if="isUpload"></b-spinner>FAQ
				</b-button>
			</b-col>
		</b-row>
		<b-row class="ml-0 mb-2">
			<b-col lg="8" class="pb-2 ml-0"> 現在の類義語をダウンロードします。 </b-col>
			<b-col lg="4" class="pb-2">
				<b-button v-on:click="downloadCsv('synonym')">
					<b-spinner small v-if="isUpload"></b-spinner>類義語
				</b-button>
			</b-col>
		</b-row>
		<b-row class="ml-0">
			<b-col lg="12" class="pb-2">
				<div>{{scenario}}</div>
			</b-col>
		</b-row>
	</b-container>
</div>
