$headerHeight: 50px;

/* base */
$Primary: #164f88;
$Secondary: #000000;
$Denger: #941e16;
$Warning: #d8bc47;
$Success: #08919e;
$Info: #26bec4;
$Light: #e8e8e8;
$Dark: #494653;
$White: #fff;
$Black: #000;

$colors: (
	"primary": $Primary,
	"secondary": $Secondary,
	"denger": $Denger,
	"warning": $Warning,
	"success": $Success,
	"info": $Info,
	"light": $Light,
	"dark": $Dark,
	"white": $White,
	"black": $Black,
) !default;
/* Background */
$Background--Primary: lithten($Primary, 10%);
$Background--Secondary: lithten($Secondary, 10%);
$Background--Denger: lithten($Denger, 10%);
$Background--Warning: lithten($Warning, 10%);
$Background--Success: lithten($Success, 10%);
$Background--Info: lithten($Info, 10%);
$Background--Light: lithten($Light, 10%);
$Background--Dark: lithten($Dark, 10%);
/* TextColor */
$Text--Primary: darken($Primary, 10%);
$Text--Secondary: darken($Secondary, 10%);
$Text--Denger: darken($Denger, 10%);
$Text--Warning: darken($Warning, 10%);
$Text--Success: darken($Success, 10%);
$Text--Info: darken($Info, 10%);
$Text--Light: darken($Light, 10%);
$Text--Dark: darken($Dark, 10%);
/* ButtonTextColor */
$ButtonText--Primary: $White;
$ButtonText--Secondary: $White;
$ButtonText--Denger: $White;
$ButtonText--Warning: $White;
$ButtonText--Success: $White;
$ButtonText--Info: $White;
$ButtonText--Light: darken($Light, 50%);
$ButtonText--Dark: $White;

/* Sidebar */
$sideBarWidth: 180px;
$subMenuBg: #272a33;
$subMenuHover: #001528;
$subMenuActiveText: #f4f4f5;

/* Login page */
$loginBg: #2d3a4b;
$lightGray: #eee;
$darkGray: #889aa4;

/*  */
$base: #1b224c;
$back: #edf2f6;
$active: #12b88c;
$logo: #008d6a;
$negative: #7b7b7b;
$arert: #ff2700;
