<b-container style="position: relative">
	<div v-if="tickets">
		<vue-good-table class="" v-for="(data, i) in tableList" :key="i" :rows="data.GoodTableRows" :columns="data.GoodTableColumns"	:pagination-options="{
				enabled: true,
				perPage: 15,
				perPageDropdown: [10, 15, 30, 50],
				rowsPerPageLabel: '表示件数',
				mode: 'pages',
			}">
			<template slot="table-row" slot-scope="props">
				<div v-html="props.formattedRow[props.column.field]">
					</div>
					</template>
		</vue-good-table>
	</div>

</b-container>
